#typeAnnonce {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 2.5rem;
    left: 1rem;
}

.card {
    width: 400px;
}

.card .deleteIcon {
    position: absolute;  
    right:15px; 
}


ul {
   list-style:  none;
}


.buttonIcone {
    border:none;
    background: none;
    height: 15px;
}

